<section class="card login">
  <form name="myform"
    novalidate>

    <div class="textintro">
      <h1>Master C.V.V Namaskaram</h1>
      <p>This is the website for Master CVV's <b>"Taraka Raja Yoga"</b> followers from Piduguralla, Guntur District, Andhra Pradesh. </p>
    </div>

    <fieldset>
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
    </fieldset>
  
    <button type="submit" class="btn">Login</button>
    <p>or <a href="#/register">register</a></p>
  </form>
</section>
